In [16]:
import pandas as pd
import seaborn as sns
import streamlit as st
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')


cp_df = pd.read_csv('2021June-July_product_data.csv')

In [12]:
cp_df.groupby(by=['product_category','feature_lowest_price_guarantee']).product_total_rating.agg(["mean"]).dtypes

mean    float64
dtype: object

In [8]:
# Grouping and aggregating
cp_df.groupby(by=['product_category']).product_like_count.agg(["mean"])

                         mean
product_category
Crop Top          3382.939241
Long Sleeves      1233.687023
Short Sleeves     2128.591940
Top                767.839196